﻿@using MediatR.AutoDoc.Core
@using MediatR.AutoDoc.Core.Documentation
@inject MediatorAutoDocGenerator _generator

<style>
    @@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto+Slab&display=swap');
    
    h1, h2, h3, h4, h5 {
        font-family: 'Roboto Slab', serif;
    }
</style>

@if (_doc != null)
{
    <h1>@_doc.Title</h1>

    foreach (var subSystem in _doc.SubSystems)
    {
        <div class="subsystem">
            <h2>
                @subSystem.Title <span>@subSystem.Namespace</span>
            </h2>

            @if (subSystem.Readme != null)
            {
                <p class="readme">@((MarkupString)Markdown.ToHtml(subSystem.Readme))</p>
            }

            @foreach (var area in subSystem.Areas)
            {
                <div class="area">
                    @if (area.Title == null)
                    {
                        <h3><i class="fa-solid fa-user"></i> @area.Namespace</h3>
                    }
                    else
                    {
                        <h3>
                            <i class="fa-solid fa-user"></i> @area.Title <span class="namespace">@area.Namespace</span>
                        </h3>
                    }
                    
                    @if (area.Readme != null)
                    {
                        <p class="readme">@((MarkupString)Markdown.ToHtml(area.Readme))</p>
                    }

                    @if (area.CommandsAndQueries.Any())
                    {
                        <h4>Commands & queries</h4>

                        @foreach (var cq in area.CommandsAndQueries)
                        {
                            <h5>@cq.Title</h5>
                            <p class="summary">@cq.Summary</p>
                            @if (cq.Readme != null)
                            {
                                <p class="readme">@((MarkupString)Markdown.ToHtml(cq.Readme))</p>
                            }
                        }
                    }

                    @if (area.NotificationHandlers.Any())
                    {
                        <h4>Notification handlers</h4>

                        @foreach (var notificationHandler in area.NotificationHandlers)
                        {
                            <h5>@notificationHandler.Title</h5>
                            <p class="summary">@notificationHandler.Summary</p>
                        }
                    }

                    @if (area.Notifications.Any())
                    {
                        <h4>Notifications</h4>

                        @foreach (var notification in area.Notifications)
                        {
                            <h5>@notification.Name</h5>
                            <p class="summary">@notification.Summary</p>
                        }
                    }

                </div>
            }
        </div>
    }
}

@code {
    private ProjectDocumentation? _doc;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        _doc = await _generator.Process();
    }

}