* {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: 'Roboto Slab', serif;
}

.subsystem {
  margin-top: 20px;
  margin-bottom: 40px;
  h2 span {
    font-size: 14px;
    background: #b8e7c8;
    border-radius: 4px;
    padding: 2px 4px;
    vertical-align: top;
    margin-top:5px;
    text-decoration: none !important;
  }
  h3 span {
    font-size: 12px;
    background: #e6fcf0;
    border-radius: 4px;
    padding: 2px 4px;
    vertical-align: top;
    margin-top:5px;
    text-decoration: none !important;
  }
  
  h3 {
    text-decoration: #d91d1d underline;
  }
  
  .area {
    border-top: 3px dotted silver;
    margin-top: 10px;
    margin-bottom: 30px;
    padding-top: 20px;
  }
}

.readme {
  border: 1px solid silver;
  border-radius: 4px;
  background: #77000000;
  padding: 10px;
  margin: 10px -10px;
  
  h1 {
    font-size:1em;
  }
}